@font-face {
    font-family: 'madeBold';
    src: url('./font/made_outer_sans_bold_personal_use-webfont.woff2') format('woff2'),
        url('./font/made_outer_sans_bold_personal_use-webfont.woff') format('woff');
}

@font-face {
    font-family: 'madeRegular';
    src: url('./font/made_outer_sans_regular_personal_use-webfont.woff2') format('woff2'),
        url('./font/made_outer_sans_regular_personal_use-webfont.woff') format('woff');
}

@font-face {
    font-family: 'madeThin';
    src: url('./font/made_outer_sans_thin_personal_use-webfont.woff2') format('woff2'),
        url('./font/made_outer_sans_thin_personal_use-webfont.woff') format('woff');
}
html {
    font-size: 16px;
}


h1 {
    color: #141414;
    font-family: 'madeBold';
    text-transform: uppercase;
}

h3 {
    color: #141414;
    font-family: 'madeRegular';
}

h2 {
    color: #141414;
    font-family: 'madeThin';
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: space-between;
    /* Distribuir los elementos horizontalmente */
    align-items: center;
    /* Centrar verticalmente los elementos */
    background-color: #151518;
    padding: none;
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */
}

nav {

    margin: 0px;
    padding: 20px;
    font-family: 'madeRegular';
    background-color: #151518;
    text-transform: uppercase;
    font-size: 0.6rem;
}

a {
    padding: 10px;
    border-right: 2px solid rgb(39, 39, 48);
    color: rgb(218, 215, 224);
    text-decoration: none;
    transition: color 0.3s
}

#mailStyle {
    padding: 10px;
    color: rgb(58, 58, 158);
    text-decoration: none;
    transition: color 0.3s
}

#mailStyle:hover {
    color: rgb(255, 208, 0); /* Cambia el color del texto al pasar el cursor */
}

a:hover {
    color: rgb(255, 208, 0); /* Cambia el color del texto al pasar el cursor */
}

a:last-child {
    border-right: none;
}

#tittleNav {

    background-color: #151518;
    padding: 1%;
    margin: 0px;
    color: rgb(241, 240, 235);
    transition: color 0.3s;
    font-size: 1.1rem;
}

#tittleNav:hover {
    color: rgb(255, 208, 0); /* Cambia el color del texto al pasar el cursor */
    cursor: pointer;
}

#barraInformativa {
    position: relative; /* Permite posicionar los elementos hijos relativamente */
    overflow: hidden; /* Para ocultar el desbordamiento */
}

#backgroundText {
    position: absolute; /* Posición absoluta en relación al contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    background-color: rgb(241, 240, 235); /* Color de fondo estático */
    z-index: -1; /* Coloca el fondo detrás del texto */
}

#textHeader {
    margin: 0px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    animation: moveText 20s linear infinite; /* Animación de movimiento */
}

@keyframes moveText {
    0% {
        transform: translateX(-100%); /* Comienza desde la izquierda de la pantalla */
    }
    100% {
        transform: translateX(100%); /* Se mueve completamente hacia la derecha */
    }
}

body{
    overflow-x: hidden;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#homeMain{
    height: 90vh;
}
#logoM{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: auto; 
    z-index: 9999;
}

#bannerMain{
    width: 100%; /* Ancho deseado del contenedor */
    height: 30vh; /* Altura deseada del contenedor */
    border: 1px solid #848697; /* Solo para propósitos de visualización */
    overflow: hidden;
    position: relative;
    
}

#hockeyImg1{
    width: 100%; /* La imagen no será más grande que su contenedor */
    height: 100%; /* Permite que la imagen conserve su relación de aspecto */
    display: block; /* Evita espacios en blanco debajo de la imagen */
    object-fit: cover;
    position: absolute; /* La imagen se posicionará absolutamente dentro del contenedor */
    top: 50%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%); /* Centra la imagen correctamente */

}

#upcomingTittle{
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    font-size: 2rem;
    font-family: "madeRegular";
    text-transform: uppercase;


}

hr {
    margin: 10px 0; /* Ajusta el margen de la línea divisora */
    border: none; /* Elimina el borde predeterminado */
    border-top: 1px solid rgba(0, 0, 0, 0.411); /* Añade una línea divisora de 1px */
}

#upcomingEvents{
    display: flex;
    padding: 20px;
    flex-direction: column; /* Organiza los elementos en una columna */

}

#events h3{
    margin-bottom: 0px;
}

#events h2{
    margin-top: 5px;
}

footer{
    z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
    background-color: #141414;
    font-family: madeThin;
    max-height: 50px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 1px;
}

#footerTxt{
    position: relative;
    margin: 0px;
    padding-top: 10px;
    font-style: "madeThin";
    text-align: center;
    color: rgb(240, 239, 235);
}

#aboutUs{
    padding: 20px;
    padding-bottom: -20px;
    flex-direction: column; /* Organiza los elementos en una columna */

}

#footerAbout{
    z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
    background-color: #141414;
    font-family: madeThin;
    max-height: 50px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 1px;
}

#contactUs{
    display: flex;
    height: auto;
    padding: 20px;
    flex-direction: column; /* Organiza los elementos en una columna */

}

#contactMain{
    height: 400px;
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    font-family: "madeThin";
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }

  #gameInf{
    text-align: center;
    padding: 10px;
    font-family: "madeRegular";
    text-transform: uppercase;
  }

  .table-container {
    margin: 20px;
    height: 30vh;
  }

    /* Estilo para la sangría de primera línea */
    .first-line-indent {
        text-indent: 2em; 
      }

#rules{
    text-align: center;
}

#rulesM p, li{
    text-align: start;
    padding: 0 20px 0 20px;
    font-family: "madeThin";
}

#rulesM h3{
    text-align: start;
    padding: 0 20px 0 20px;
    font-family: "madeThin";
}


#rulesM h3{
    text-transform: uppercase;
    font-family: "madeRegular";
    text-align: start;
}

#rulesM h2{
    text-transform: uppercase;
    font-family: "madeRegular";
}

main .table-container {
    display: flexbox;
}

#moreInf{
    display: flex;
    
}

#homeMain article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#map{
    display: flexbox;
    padding-left: 20px;
    padding-right: 20px;
}

#map h2{
    text-align: center;
    font-family: "madeRegular";
    text-transform: uppercase;
    padding: 20px;
}

#map iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#LocationText{
    margin-top: 70px;
    font-family: "madeRegular";
    text-transform: uppercase;
    text-align: center;
}

#artInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

p{
    font-family: "madeThin";
    text-transform: uppercase;
    text-align: start;
}

#artInfo a{
    color: #141414;
    padding: 0;
    font-family: "madeThin";
    text-transform: uppercase;
}
